/* Reset básico para algunos elementos */
body,
div,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 96vw;
  /* Puedes ajustar este tamaño según lo que necesites */
  height: 96vh;
  border: 3px solid #444;
  background-color: #333;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  display: block;
}

#control-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

#game-menus {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.menu,
.overlay {
  display: none;
  /* Por defecto, menús y overlays están ocultos */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
}

/* ... otros estilos según necesidades del juego ... */